

.container {
    font-family: "Poppins";
    padding: 1.2rem;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}

.mainContainer_left {
    flex: 0.5;
}

.mainContainer_right {
    flex: 0.4;
}


.mainContainer_left > p:nth-child(1) {
    font-size: 2.6rem;
    display: inline-block;
    font-weight: 600;

    background: linear-gradient(
        45deg,
        #666666,
        #ededed,
        #666666
    );
    background-size: 200% 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: homePageBreatheEffect 2.5s linear infinite;
    opacity: 0.9;
}
@keyframes homePageBreatheEffect {
    from {
        background-position: 200% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}



.mainContainer_left > p:nth-child(2) {
    color: #4D4D4D;
    font-size: 1.7rem;
}


.mainContainer_left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background-color: #B90EC7;
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    border-radius: 20px;
}


@media screen and (max-width:600px) {
    .maincontainer {
        flex-direction: column;
        height: auto;
        gap: 2rem;
        padding-top: 1.2rem;
    }

    .mainContainer_left {
        padding-top: 1.5rem;
        flex : 1;
    }

    .mainContainer_right {
        flex : 1;
    }

    .mainContainer_right img {
        width: 100%;
    }
}